# Compiled Lua sources
luac.out

# Lua rocks
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Build artifacts
**/.xmake
**/build
**/target

# IDE / OS
.vscode
.DS_Store
**/__pycache__

# Runtime
**/.xlings
bin/xmake
bin/mdbook*
