name: Xlings Test - CI

on: [push]

jobs:

  linux-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: tools

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install curl and git
        run: sudo apt-get install -y curl git

      - name: Installation Xlings on Ubuntu
        run: ./install.unix.sh

      - name: XIM Test on Ubuntu
        run: |
          export PATH=/home/xlings/.xlings_data/bin:$PATH
          xlings -h
          xim -h
          xim -l
          xim --detect
          xim -s v
          xim -i d2x::d2ds -y
          source ~/.bashrc
          xim -l
          xim -r d2x::d2ds -y
          xim -l

      - name: XVM Test on Ubuntu
        run: |
          export PATH=/home/xlings/.xlings_data/bin:$PATH
          xvm --version
          xvm -h
          xvm add cls 0.0.1 --alias=clear
          xvm list c
          xvm remove cls --yes

      - name: D2X Test on Ubuntu
        run: |
          export PATH=/home/xlings/.xlings_data/bin:$PATH
          d2x -h
          d2x new helloworld

  windows-test:
    runs-on: windows-latest

    defaults:
      run:
        working-directory: tools

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: install xmake
        uses: xmake-io/github-action-setup-xmake@v1

      - name: Installation Xlings on Windows
        run: install.win.bat
        shell: cmd

      - name: XIM Test on Windows
        run: |
          set PATH=C:\Users\Public\.xlings_data\bin;%PATH%
          xlings -h
          xim -h
          xim -l
          xim --detect
          xim -s v
          xim -i d2x::d2ds -y
          xim -l
          xim -r d2x::d2ds -y
          xim -l
        shell: cmd

      - name: XVM Test on Windows
        run: |
          set PATH=C:\Users\Public\.xlings_data\bin;%PATH%
          xvm --version
          xvm -h
          xvm add clear 0.0.1 --alias=cls
          xvm list c
          xvm remove clear --yes
        shell: cmd

      - name: D2X Test on Windows
        run: |
          set PATH=C:\Users\Public\.xlings_data\bin;%PATH%
          d2x -h
          d2x new helloworld
        shell: cmd

  macos-test:
    runs-on: macos-latest

    defaults:
      run:
        working-directory: tools

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install curl and git
        run: brew install curl git

      - name: Installation Xlings on macOS
        run: ./install.unix.sh

      - name: XIM Test on macOS
        run: |
          export PATH=/Users/runner/.xlings_data/bin:$PATH
          xlings -h
          xim -h

      - name: XVM Test on macOS
        run: |
          export PATH=/Users/runner/.xlings_data/bin:$PATH
          xvm --version
          xvm -h
          xvm add cls 0.0.1 --alias=clear
          xvm list c
          xvm remove cls --yes

      - name: D2X Test on macOS
        run: |
          export PATH=/Users/runner/.xlings_data/bin:$PATH
          d2x -h
          d2x new helloworld

# only test install
#
#  archlinux-test:
#    runs-on: ubuntu-latest
#    container: archlinux
#
#    steps:
#      - name: Install Xlings on ArchLinux
#        run: |
#          pacman -Sy --noconfirm curl git sudo
#          useradd -m builduser
#          passwd -d builduser
#          git clone https://aur.archlinux.org/xlings.git
#          cd xlings
#          sudo -u builduser makepkg -si --noconfirm
#
#      - name: Base Test on ArchLinux
#        run: |
#          xlings
#          xim -i d2x::d2ds -y
#          d2x -h
#          d2x new helloworld