name: xlings-ci-linux

on: [push]

jobs:

  linux-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: tools

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install curl and git
        run: sudo apt-get install -y curl git

      - name: Installation Xlings on Ubuntu
        run: ./install.unix.sh

      - name: XIM Test on Ubuntu
        run: |
          export PATH=/home/xlings/.xlings_data/bin:$PATH
          xlings -h
          xim -h
          xim -l
          xim --detect
          xim -s v
          xim -i d2x::d2ds -y
          source ~/.bashrc
          xim -l
          xim -r d2x::d2ds -y
          xim -l

      - name: XVM Test on Ubuntu
        run: |
          export PATH=/home/xlings/.xlings_data/bin:$PATH
          xlings install rust -y
          cd ../core/xvm
          cargo build

          ./target/debug/xvm -h
          ./target/debug/xvm --version
          
          ./target/debug/xvm add node1 0.0.1 --alias "echo node1@0.0.1"
          ./target/debug/xvm add node1 0.0.2 --alias "echo node1@0.0.2"
          
          ./target/debug/xvm add node2 0.0.1 --alias "echo node2@0.0.1" --bind node1@0.0.1
          ./target/debug/xvm add node2 0.0.2 --alias "echo node2@0.0.2" --bind node1@0.0.2
          
          ./target/debug/xvm add node3 0.0.1 --alias "echo node3@0.0.1" --bind node1@0.0.1
          ./target/debug/xvm add node3 0.0.2 --alias "echo node3@0.0.2" --bind node1@0.0.2

          node1 && node2 && node3
          ./target/debug/xvm info node1
          ./target/debug/xvm info node2
          ./target/debug/xvm info node3

          ./target/debug/xvm use node2 0.0.2

          node1 && node2 && node3
          ./target/debug/xvm info node1
          ./target/debug/xvm info node2
          ./target/debug/xvm info node3

      - name: D2X Test on Ubuntu
        run: |
          export PATH=/home/xlings/.xlings_data/bin:$PATH
          d2x -h
          d2x new helloworld